.login-contain{
    width: 20vw;
    height: 40vh;
    position: absolute;
    top: 30vh;
    right: 10vw;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 0 0  20px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 1rem;
}
.login-contain>p{
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    color: #666666;
}
.login-contain>form{
    width: 100%;
}
.login-contain>form label{
    font-size: 1rem;
    color: #666666;
}
.login-contain>form input{
    background: none;
    border-radius: 4px;
    width: 80%;
    height: 2rem;
    margin-top: 1rem;
}
.login-save{
    width: 100%;
    margin-top: 1rem;
    text-align: right;
}
.login-button{
    width: 100%;
    margin-top: 1rem;
    text-align: right;
}
